
/* header related style */
.header-related{
    width: 1920px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center
}
.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}
.banner-greeting{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height:30px;
    padding-bottom: 15px;
}
.btn-primary{
    color:#fff;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border-color: #ffffff;
}
.flower{
    padding: 19px 30px 30px 200px;
    justify-content: center;
    width: 635px;
    height: 800px;
    background-repeat: no-repeat;
}
.banner-hedlin{
    padding: 10px 25px 30px 50px;
}


/* about section style */
.section-title{
    padding: 100px 50px 0px 0px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.about{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.skille-flower{
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: space-between;
    margin: 0px 100px;

}
.skille-line{
    justify-content: space-around;
    padding: 0px 20px 20px 20px;
}
.skille{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
     text-decoration-line: underline;
}
.skille-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.skille-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.kislle-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
/*emoji related style */
.emoji{
    display: flex;
    margin:0px 150px;
    /* padding: 0px 0px 0px 150px; */
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 320px;
    padding-left: 150px;
    gap: 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
/* main section */
.main-section{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.section{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.section-1{
    color: #E55473;

}
.section-2{
    margin-right: 370px;

}
.section-3{
    margin-left: 250px;
}
/* third emoji section */
.title{
    align-items: center;
    text-align: center;
    margin-top: 150px;
}
.title-1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.title-2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
#emoji{
    display: block;
    display: flex;
    padding-bottom: 100px;
    margin-left: 250px;
    text-align: center;
    gap: 20px;
}
/* background image style */
.background-image-style{
    width: 1440px;
    height: 449px;
    background-image: url("./flower-shop-assignment/Flower Asset/Rectangle\ 9.png");
    border-radius: 8px;
    background-repeat: no-repeat;
    margin-left: 250px;
    margin-top: 40px;
}

.img-style{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.img-style-1{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.img-style-2{
    justify-content: center;
     padding: 50px ;
}
.input-main{
    text-align: center;
}
.input-email{
    padding: 10px 30px;
    width: 700px;
    height: 43px;
    border-radius: 8px;
    background: #FFF;
}
.input-btn{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
/* footer section */
.content{
    display: block;
    margin-top: 100px;
    width: 1922px;
    height: 449px;
    background: #111010;
}
.footer{
    padding-top: 150px;
    text-align: center;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.id{
    color: #FFF;
}
.footer-1{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.footer-2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}