
/* header related style */
.header-related{
    width: 1920px;
 height: 850px;
 background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center
}
.banner-title{
    color: #272727;
font-size: 80px;
font-weight: 800;

}
.banner-greeting{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height:30px;
}
.btn-primary{
color:#fff;
padding: 20px 43px;
gap: 10px;
 border-radius: 8px;
background: #E55473;
border-color: #ffffff;
}
.flower{
    padding: 19px 30px 30px 200px;
    justify-content: center;
    width: 635px;
    height: 800px;
    background-repeat: no-repeat;
}
.banner-hedlin{
    padding: 10px 25px 30px 50px;
}


/* about section style */
.section-title{
    padding: 100px 50px 0px 0px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.about{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.skille-flower{
display: flex;
align-items: center;
padding: 100px;

}
.skille-line{
    justify-content: space-around;
    padding: 0px 20px 20px 20px;
}
.skille{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}
.skille-1{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.skille-2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.kislle-3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
/*emoji related style */
.emoji{
    display: flex;
    margin-left: 100px;
    padding: 0px 0px 0px 150px;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 320px;
    gap: 200px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
/* main section */
.main-section{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;
    width: 1920px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.section{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.section-1{
    color: #E55473;

}
.section-2{
    margin-right: 500px;
}
.section-3{
    margin-left: 250px;
}